set -e

export JDK_DEVEL_PKG_VER=java-1.7.0-openjdk-devel-1.7.0.65-2.5.2.5.fc20
export JAVA_HOME=/usr/lib/jvm/jre-1.7.0-openjdk.x86_64/
export HADOOP_INSTALL_DIR={{ hadoop_install_dir }}
export HADOOP_ARCHIVE=${HADOOP_INSTALL_DIR}/hadoop-2.6.0.tar.gz
export MR_SCRIPT=test-pi-yarn.sh

#HACK/TODO : for now, extension MUST be .tar.gz
export HADOOP_HOME=${HADOOP_INSTALL_DIR}/$(basename ${HADOOP_ARCHIVE} .tar.gz)
export CORE_DEFAULT=${HADOOP_HOME}/etc/hadoop/core-default.xml
export CORE_SITE=${HADOOP_HOME}/etc/hadoop/core-site.xml
export YARN_DEFAULT=${HADOOP_HOME}/etc/hadoop/yarn-default.xml
export YARN_SITE=${HADOOP_HOME}/etc/hadoop/yarn-site.xml
export MAPRED_SITE=${HADOOP_HOME}/etc/hadoop/mapred-site.xml
export SLAVES=${HADOOP_HOME}/etc/hadoop/slaves
export ENV_CONFIG=${HADOOP_HOME}/env.sh
